#delete-user-card {
  width: 50%;
}

.card-header {
  text-align: center;
  display: block;
  padding: 0;
  width: 100%;
}

.mat-card-title.mat-card-title {
  font-size: 0.9rem;
  line-height: 1.3rem;
  color: #59201d;
}

.mat-card#delete-user-card.mat-card.mat-focus-indicator {
  padding: 0;
  width: 100%;
}

.cancel-btn {
  background-color: #535e79;
  border-color: transparent;
  color: #fff;
  border-radius: 5%;
  font-size: 0.7rem;
  cursor: pointer;
}

.delete-user-btn {
  background-color: #9c3404;
  border-color: transparent;
  color: #fff;
  border-radius: 5%;
  font-size: 0.7rem;
  cursor: pointer;
}

.mat-card-content#delete-user-card_content.mat-card-content {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
}
