<mat-toolbar class="toolbar">
  <span routerLink="/movies">MyFlix</span>
  <span class="spacer"></span>
  <button (click)="openProfile()" class="profile-btn">Profile</button>
  <span class="spacer2"></span>
  <button (click)="logoutUser()" routerLink="/" class="logout-btn">
    Logout
  </button>
  <button (click)="openDeleteUserDialog()" class="delete-user-btn">
    Delete Profile
  </button>
</mat-toolbar>

<div class="profile-page">
  <mat-card id="update-container">
    <mat-card-header id="update-header">
      <mat-card-title>Update Profile</mat-card-title>
    </mat-card-header>
    <mat-card-content id="update-card-content">
      <form>
        <mat-form-field>
          <input
            matInput
            [(ngModel)]="userData.username"
            placeholder="Username"
            type="text"
            name="Username"
            required
          />
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            [(ngModel)]="userData.password"
            type="password"
            placeholder="Password"
            name="Password"
            required
          />
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            [(ngModel)]="userData.email"
            type="email"
            placeholder="Email"
            name="Email"
            required
          />
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            [(ngModel)]="userData.birthday"
            type="date"
            placeholder="Birthday"
            name="Birthday"
          />
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button (click)="editUserData()" color="primary">
        Update
      </button>
    </mat-card-actions>
  </mat-card>

  <h1 id="fave-movies-header">Favorite Movies</h1>
  <div class="movie-card-container">
    <mat-card *ngFor="let movie of faveMovies; let i = index" id="movie-card">
      <mat-card-header class="card-header">
        <mat-card-title>{{ movie.Title }}</mat-card-title>
        <mat-card-subtitle
          >Directed by: {{ movie.Director.Name }}</mat-card-subtitle
        >
      </mat-card-header>
      <img src="{{ movie.ImagePath }}" alt="{{ movie.Title }}" />
      <mat-card-actions class="card-actions">
        <button
          mat-button
          color="primary"
          (click)="openGenreDialog(movie.Genre.Name, movie.Genre.Description)"
        >
          Genre
        </button>
        <button
          mat-button
          color="primary"
          (click)="
            openDirectorDialog(
              movie.Director.Name,
              movie.Director.Bio,
              movie.Director.Birth
            )
          "
        >
          Director
        </button>
        <button
          mat-button
          color="primary"
          (click)="openDescriptionDialog(movie.Description)"
        >
          Synopsis
        </button>
        <button (click)="deleteFaveMovie(movie._id)" class="card-delete-btn">
          Delete
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
